#body {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: black;
    text-align: center;
}

#container {
    background-color: black;
    width: 50%;
    border-radius: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:    " display display display display"
                            "clear clear delete delete"
                            "n7 n8 n9 division"
                            "n4 n5 n6 multiplication"
                            "n1 n2 n3 subtraction"
                            "dot n0 sum addition"
}

#container > * {
    background-color: rgb(236, 219, 186);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#display {
     grid-area: display;

}

#clear {
    grid-area: clear;
    background-color: rgb(200, 75, 49);
}

#delete {
    grid-area: delete;
    background-color: rgb(52, 103, 81);
}

#n7 {
    grid-area: n7;
}
#n8 {
    grid-area: n8;
}
#n9 {
    grid-area: n9;
}
#n7 {
    grid-area: n7;
}
#division {
    grid-area: division;
}
#n4 {
    grid-area: n4;
}
#n5 {
    grid-area: n5;
}
#n6 {
    grid-area: n6;
}
#multiplication {
    grid-area: multiplication;
}
#n1 {
    grid-area: n1;
}
#n2 {
    grid-area: n2;
}
#n3 {
    grid-area: n3;
}
#subtraction {
    grid-area: subtraction;
}
#dot {
    grid-area: dot;
}
#n0 {
    grid-area: n0;
}
#sum {
    grid-area: sum;
    background-color: rgb(200, 75, 49);
}
#addition {
    grid-area: addition;
}